<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BT Enrollment</title>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
    <!-- Had to add this due to css mime type error... -->
    <base href="/">
</head>
<body>

<div id="black-box-fade"></div>

<div id="title">
    <p class="inner_text_shadow">BT - Enrollment</p>
</div>

<div>
    <div class="main">
        <form name="f" th:action="@{/login}" method="post">
            <p class="sign" align="center">Sign in</p>
            <div th:if="${param.error}" class="alert alert-error center_text">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success center_text">
                You have been logged out.
            </div>
            <form class="form1">
                <fieldset>
                    <input class="un " type="text" align="center" placeholder="Username" id="username" name="username">
                    <input class="pass" type="password" align="center" placeholder="Password" id="password"
                           name="password">
                    <button type="submit" class="submit" align="center">Sign in</button>
                    <p class="forgot" align="center">So Let's Go!</p>
                </fieldset>
            </form>
        </form>
        <div id="post-it">
            <p># For Testing</p>
            <span class="inline">
                <p class="inline">user: </p>
                <p class="inline" th:text="${username}">username model value</p>
            </span>
            <span class="inline">
                <p class="inline">pass: </p>
                <p class="inline" th:text="${password}">password model value </p>
            </span>
        </div>
    </div>

    <div id="made-by"><p>Made with <3 by
        <p><a target="_blank" href="https://www.linkedin.com/in/bogdan-iudean/">Bogdan Iudean</a></div>
</div>
</body>
</html>

<!-- Inspired from:
https://codepen.io/Devel0per95/pen/rjOpdx
-->
